:root {
    --main-color: #0E6973;
    --main-font: 'Roboto';
    --aux-font: 'Ubuntu-Light';
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url('../fonts/Ubuntu/Ubuntu-Light.ttf');
}

html,
body,
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family: var(--main-font), var(--aux-font), sans-serif;
    box-sizing: border-box;
}

nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    height: 60px;
    background: var(--main-color);
    box-shadow: 3px 3px 4px#C1D0D9;
  }
  
  .nav_item {
    float: left;
    width: 170px;
    text-align: center;
    line-height: 60px;
  }
  
  .nav_item a {
    color: white;
    text-decoration: none;
  }
  
  .nav_item:hover {
    cursor: pointer;
    background: #C1D0D9;
  }
  
  section {
    position: relative;
    height: 100vh;
  }
  
  .home:before {
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: none;
  }
  
  .home:after {
    position: absolute;
    z-index: 1;
    content: '';
    height: 100%;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1474149609615-ce5628f98c80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-position: bottom;
    background-size: cover;
    background-image: no-repeat;
  }
  
  .home_content {
    position: absolute;
    text-align: center;
    top: 50%;
    right: 50%;
    transform: translateX(50%);
    z-index: 2;
    color: #fff;
  }

  .home_content h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }

  .button {
    cursor: pointer;
    position: relative;
    width: 170px;
    height: 50px;
    border: 3px solid var(--main-color);
    border-radius: 45px;
    overflow: hidden;
  }

  .button:hover .back {
    top: 50% !important;
    transition: all 300ms;
  }

  .button:hover .front {
    top: 60px !important;
    transition: all 300ms;
  }

  .button p {
    position: absolute;
    right: 50%;
    top: 50%;
    width: 100%;
    text-transform: uppercase;
    transform: translate(50%, -50%);
  }

  .front {
    transition: all 300ms;
  }
  
  .back {
    top: 60px !important;
    transition: all 300ms;
  }